# Core functionality - changes here should be rare!
/src/app.py                   @stha827
/src/backend/database.py      @stha827
/src/backend/routers/auth.py  @stha827

# The frontend will need refactored soon to be more object oriented.
/src/static/   @stha827
